#div1, #div2 {
    float: left;
    width: 200px;
    height: 105px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.container {
    float: left;
    width: 50%;
 }
 .row::after {
     content: "";
     clear: both;
     display: table;
 }
 
 img {
    width: 100%;
    height: 85%;
  }

  h1{
    text-align: center;
  }

  h3{
    text-align: center;
  }
  
  body{
    background-size: cover;
  }

  tr{
    text-align: center;
  }
